* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  background: url("/img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#loader {
  width: 100%;
  height: 100%;
  background: white;
}

.loader-site-loaded {
  display: none;
}

.spinner {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: #A0B9B6;
  border-radius: 50%;
  display: inline-block;
  animation: spinner-animation 3s cubic-bezier(0.190, 1.000, 0.220, 1.000) infinite;
}

p {
  font-family: 'Cormorant Infant', serif;
  font-size: 16px;
  text-align: center;
}

@keyframes spinner-animation {
  0% { transform: translateX(0) scale(1); }
  25% { transform: translateX(-50px) scale(0.3); }
  50% { transform: translateX(0) scale(1); }
  75% { transform: translateX(50px) scale(0.3); }
  100% { transform: translateX(0) scale(1); }
}

#save-the-date-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#save-the-date-card {
  width: 785px;
  height: 789px;
  background: #FFFFFF;
  box-shadow: 0 0 64px 0 rgba(2,22,49,0.3);
  background-image: url("/img/frame.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-appear {
  animation: card-appear 2s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards;
}

.animate {
  opacity: 0;
  transform: translate3d(0, 24px, 0);
  animation: content-appear 2s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards;
}

header {
  width: 525px;
  height: 153px;
  margin-top: 48px;
  background-image: url("/img/headerBlock.svg");
  background-repeat: no-repeat;
}

#content {
  width: 527px;
  height: 296px;
  margin-top: 24px;
  background-image: url("/img/contentBlock.svg");
  background-repeat: no-repeat;
}

footer {
  width: 528px;
  height: 83px;
  margin-top: 24px;
  background-image: url("/img/footerBlock.svg");
}

#cta {
  display: block;
  background: #021631;
  color: #FBDCDC;
  padding: 16px 48px;
  font-size: 24px;
  text-decoration: none;
  margin-top: 48px;
  font-family: 'Cormorant Infant', serif;
}

@media (max-width: 800px) {
  #save-the-date-card {
    background-image: url("/img/frameTablet.svg");
    background-position: 16px 16px;
    width: 610px;
    height: 800px;
  }

  header {
    margin-top: 24px;
  }

  footer {
    margin-top: 64px;
  }
}

@media (max-width: 600px) {
  body {
    background: url("/img/bgMobile.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #save-the-date-card {
    width: 344px;
    height: 571px;
    background-image: url("/img/frameMobile.svg");
    background-repeat: no-repeat;
    background-position: 12px 12px;
  }

  header {
    width: 298px;
    height: 122px;
    margin-top: 12px;
    background-image: url("/img/headerMobile.svg");

  }

  #content {
    width: 296px;
    height: 212px;
    margin-top: 16px;
    background-image: url("/img/contentMobile.svg");
  }

  footer {
    width: 296px;
    height: 70px;
    margin-top: 32px;
    background-image: url("/img/footerMobile.svg");
  }

  #cta {
    margin-top: 20px;
    font-size: 18px;
  }

}

@media (max-width: 340px) {
  #save-the-date-card {
    background-image: none;
  }
}

@media (max-width: 320px) {
  #save-the-date-card {
    transform: scale3d(0.8, 0.8, 0.8);
    animation: card-appear-small-device 0.3s ease-out forwards;
  }
}

@media (max-height: 700px) {
  #save-the-date-container {
    height: auto;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@keyframes card-appear {
  0%   { transform: scale3d(0.8, 0.8, 0.8); }
  100% { transform: scale3d(1, 1, 1); }
}

@keyframes card-appear-small-device {
  0%   { transform: scale3d(0.5, 0.5, 0.5); }
  100% { transform: scale3d(0.9, 0.9, 0.9); }
}

@keyframes content-appear {
  0%   {
    opacity: 0;
    transform: translate3d(0, 32px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
